[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numba = "~=0.45"
ipywidgets = ">=7"
notebook = "*"
plotly = "~=4.0"
rise = "*"
poliastro = "~=0.13.0"

[requires]
python_version = "3.7"
